@import "normalize.css";
@import "./base/_global";
@import "./modules/_container";
@import "./modules/_header";

.banner-section {
  width: 100%;
}

#banner {
  background-size: cover;
  width: 100%;
  padding: 0 15px 15px 0;
  margin: auto;
}

.content-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
